# EditorConfig is awesome: https://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8
indent_style = tab
indent_size = 8

# 4 space indentation
[*.{py,md}]
indent_style = space
indent_size = 4
